<!-- Animated Floating Shapes Background -->
<div class="background-shapes" aria-hidden="true">
    <div class="shape"></div> <div class="shape"></div> <div class="shape"></div>
    <div class="shape"></div> <div class="shape"></div> <div class="shape"></div>
    <div class="shape"></div> <div class="shape"></div> <div class="shape"></div>
    <div class="shape"></div>
</div>
