---
---

<header class="bg-secondary/50 backdrop-blur-lg fixed w-full top-0 z-50">
    <nav class="container mx-auto px-6 py-4 flex justify-center md:justify-between items-center">
        <a href="/" class="flex items-center">
            <img src="/Logo Novalux.svg" alt="Novalux" class="h-8 md:h-10" />
        </a>
        <div class="hidden md:flex space-x-8 items-center">
            <button type="button" id="headerDiagBtn" class="btn btn-sm btn-primary">Contáctanos</button>
        </div>
    </nav>
</header>
