---
import Hero from "src/components/ecommerce/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Comparison from "src/components/ecommerce/Comparison.astro";
import StorePreview from "src/components/ecommerce/StorePreview.astro";
import Includes from "src/components/ecommerce/Includes.astro";
import Process from "src/components/ecommerce/Process.astro";
import CTA from "src/components/ecommerce/CTA.astro";
import Pricing from "src/components/ecommerce/Pricing.astro";

// Page metadata
export const prerender = true;
const pageTitle = "Tiendas online - Servicio Profesional";
const pageDescription =
  "Servicio profesional de creación de tiendas online. Aumentas tus ventas con una tienda online.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="pt-20 relative z-10">
    <Hero />
    <Comparison />
    <!-- <StorePreview /> -->
    <Includes />
    <Process />
    <Pricing />
    <CTA />
  </main>
</Layout>
