---
import Hero from "../components/home/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ValueProps from "../components/home/ValueProps.astro";
import Services from "../components/home/Services.astro";
import Process from "../components/home/Process.astro";
import FAQ from "../components/home/FAQ.astro";
import CTA from "../components/home/CTA.astro";
---

<Layout>
  <main class="pt-20 relative z-10">
    <Hero />
    <Services />
    <ValueProps />
    <!-- <Clients /> -->
    <Process />
    <FAQ />
    <CTA />
  </main>
</Layout>
