---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ValueProps from "../components/ValueProps.astro";
import AnimatedGradientBackground from "../components/AnimatedGradientBackground.astro";
import AnimatedFloatingShapes from "../components/AnimatedFloatingShapes.astro";
import Services from "../components/Services.astro";
import Clients from "../components/Clients.astro";
---

<Layout>
  <AnimatedGradientBackground />
  <AnimatedFloatingShapes />
  <main class="pt-20 relative z-10">
    <Hero />
    <Services />
    <ValueProps />
    <Clients />
  </main>
</Layout>

<script>
  // General Scroll Animation Observer
  const animateObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("is-visible");
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  const elementsToAnimate = document.querySelectorAll(".animate-on-scroll");
  elementsToAnimate.forEach((el) => animateObserver.observe(el));
</script>
