---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ValueProps from "../components/ValueProps.astro";
import Services from "../components/Services.astro";
import Clients from "../components/Clients.astro";
import Process from "../components/Process.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
---

<Layout>
  <main class="pt-20 relative z-10">
    <Hero />
    <Services />
    <ValueProps />
    <Clients />
    <Process />
    <FAQ />
    <CTA />
  </main>
</Layout>
