<!-- Animated Gradient Background -->
<div class="gradient-background">
    <div class="gradient-spot spot1"></div>
    <div class="gradient-spot spot2"></div>
    <div class="gradient-spot spot3"></div>
</div>
