--- 
import "../styles/global.css";
---
<section class="relative min-h-screen flex items-center justify-center overflow-hidden">
    <div class="absolute w-96 h-96 bg-primary/20 rounded-full -top-20 -left-20 blur-3xl animate-pulse"></div>
    <div class="absolute w-96 h-96 bg-accent/10 rounded-full -bottom-20 -right-20 blur-3xl animate-pulse animation-delay-400"></div>

   <div class="container mx-auto px-6 text-center z-20">
       <h1 class="text-4xl md:text-6xl font-bold mb-4 animate-on-scroll">
           Impulsamos la <span class="gradient-text">Evolución Digital</span> de tu Negocio
       </h1>
       <p class="text-lg md:text-xl max-w-3xl mx-auto text-accent mb-8 animate-on-scroll delay-100 ">
           Brindamos soluciones tecnológicas a medida que transforman tus ideas en realidades digitales exitosas.
       </p>
       <div class="flex justify-center space-x-4 animate-on-scroll delay-200">
           <a href="#services" class="btn-primary px-8 py-3 rounded-full text-lg">Explorar Soluciones</a>
           <a href="#contact" class="border-2 border-primary text-primary px-8 py-3 rounded-full text-lg hover:bg-primary hover:text-base transition-all duration-300">Hablemos</a>
       </div>
   </div>
</section>